#products.text-center.bg-dark.row
  - products.each do |product|
    .col-5.border.py-4.my-4.mx-auto
      = image_tag product.image, class: 'w-75'
      .card-body
        %h4.card-title
          = product.title
        %p.card-text
          = product.description
        %p
          price:
          = product.price
          $
        = button_to 'show', '', class: 'btn btn-outline-success w-50'
  .d-flex.justify-content-center
    != pagy_bootstrap_nav(@pagy)
